<div id="dapplist">
  <div id="dappheader" fxLayoutAlign="space-between center">
    <h4>
      Community App
    </h4>
    <button>
      <fa-icon [icon]="faPlus"></fa-icon>
    </button>
  </div>

  <div class="dapp" fxLayoutAlign="space-between center" [routerLink]="['dashboard']" routerLinkActive="active" >
    <h4>
      <!-- <fa-icon [icon]="faTachometerAlt"></fa-icon> -->
      Dashboard
    </h4>
  </div>

  <div class="dapp" fxLayoutAlign="space-between center" [routerLink]="['kanban']" routerLinkActive="active" >
    <h4>
      <!-- <fa-icon [icon]="faTachometerAlt"></fa-icon> -->
      Kanban
    </h4>
  </div>

  <div class="dapp" fxLayoutAlign="space-between center" [routerLink]="['issue']" routerLinkActive="active" >
    <h4>
      <!-- <fa-icon [icon]="faExclamationCircle"></fa-icon> -->
      Issue
    </h4>
  </div>

  <div class="dapp" fxLayoutAlign="space-between center" [routerLink]="['calendar']" routerLinkActive="active" >
    <h4>
      <!-- <fa-icon [icon]="faExclamationCircle"></fa-icon> -->
      Calendar
    </h4>
  </div>

  <div class="dapp" fxLayoutAlign="space-between center" [routerLink]="['marketplace']" routerLinkActive="active" >
    <h4>
      <!-- <fa-icon [icon]="faGlobe"></fa-icon> -->
      Marketplace
    </h4>
  </div>
</div>
