@import 'variable';

div#dapplist {
  padding-bottom: 10px;

  div#dappheader {
    margin-right: 14px;
    margin-left: 14px;
    color: $oc-gray-7;

    h4 {
      margin: 15px 0;
    }

    button {
      border: none;
      outline: none;
      background-color: transparent;
      color: $oc-gray-6;

      &:hover,
      &:active {
        color: $oc-gray-7;
      }
    }
  }

  div.dapp {
    color: $oc-gray-7;
    height: 38px;
    padding-left: 20px;
    padding-right: 14px;
    border-left: 4px solid $oc-gray-1;

    h4 {
      margin: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      color: $oc-gray-7;
      font-weight: 400;
    }

    &.active {
      border-left: 4px solid $oc-pink-6;
      h4 {
        font-weight: 600;
      }
    }
  }

}
