@import 'variable';

:host {
  display: block;
  height: calc(100vh - 110px);
}

div#content {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: calc(100vh - 110px);

  div.chat-container {
    height: 100%;
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;

    div.inner {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}
