<div id="contacts">
  <div id="contactsHeader" fxLayoutAlign="space-between center">
    <h4>
      <!-- <fa-icon [icon]="faAddressBook"></fa-icon> -->
      Contacts
    </h4>
    <button>
      <fa-icon [icon]="faPlus"></fa-icon>
    </button>
  </div>

  <div class="contact" [routerLink]="['contact', 1]" routerLinkActive="active"
    gdAreas="image name"
    gdColumns="38px 1fr"
    gdRows="38px">

    <div id="ProfileImage" gdArea="image" fxFlexAlign="center">
      <img src="https://avatars3.githubusercontent.com/u/693461?s=460&v=4">
    </div>

    <div id="ProfileName" gdArea="name">
      Yoonsung choi
    </div>
  </div>

  <div class="contact" [routerLink]="['contact', 2]" routerLinkActive="active"
    gdAreas="image name"
    gdColumns="38px 1fr"
    gdRows="38px">

    <div id="ProfileImage" gdArea="image" fxFlexAlign="center">
      <img src="https://avatars3.githubusercontent.com/u/693461?s=460&v=4">
    </div>

    <div id="ProfileName" gdArea="name">
      Yoonsung choi
    </div>
  </div>


  <div class="contact" [routerLink]="['contact', 3]" routerLinkActive="active"
    gdAreas="image name"
    gdColumns="38px 1fr"
    gdRows="38px">

    <div id="ProfileImage" gdArea="image" fxFlexAlign="center">
      <img src="https://avatars3.githubusercontent.com/u/693461?s=460&v=4">
    </div>

    <div id="ProfileName" gdArea="name">
      Yoonsung choi
    </div>
  </div>


  <div class="contact" [routerLink]="['contact', 4]" routerLinkActive="active"
    gdAreas="image name"
    gdColumns="38px 1fr"
    gdRows="38px">

    <div id="ProfileImage" gdArea="image" fxFlexAlign="center">
      <img src="https://avatars3.githubusercontent.com/u/693461?s=460&v=4">
    </div>

    <div id="ProfileName" gdArea="name">
      Yoonsung choi
    </div>
  </div>
</div>
