@import 'variable';

div.board {
  height: 100%;

  header {
    h4 {
      margin-top: 15px;
      margin-bottom: 15px;
      color: $oc-gray-7;
    }

    button {
      border: none;
      outline: none;
      background-color: transparent;
      color: $oc-gray-6;

      &:hover,
      &:active {
        color: $oc-gray-7;
      }
    }
  }

  ul {
    list-style: none;
    max-height: calc(100% - 50px);
    margin: 0;
    padding: 0;
    overflow-y: scroll;
  }

}
