@import 'variable';

:host {
  display: block;
  background-color: #f8f9fa;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

div.board {
  height: 100%;

  header {

    h4 {
      display: inline-block;
      margin-top: 10px;
      margin-bottom: 15px;
      color: $oc-gray-7;

      span {
        display: inline-block;
        margin-right: 7px;
        background-color: $oc-gray-3;
        border-radius: 50%;
        padding: 2px 5px;
        font-size: 0.87rem;
        line-height: 0.87rem;
        font-weight: 600;
        color: $oc-gray-8;
      }
    }

    button {
      border: none;
      outline: none;
      background-color: transparent;
      color: $oc-gray-6;

      &:hover,
      &:active {
        color: $oc-gray-7;
      }
    }
  }

  ul {
    list-style: none;
    max-height: calc(100% - 50px);
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
  }

}
