@import "variable";

:host {
  display: block;
  border-radius: 5px;
  background-color: $oc-gray-1;
  padding: 8px;
  margin: 0 7px;
  margin-bottom: 15px;
}

input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: $oc-gray-7;
}
