<div
  gdAreas="image id time | image message message"
  gdRows="40px auto"
  gdColumns="40px auto 1fr">

  <div class="Image" gdArea="image">
    <img src="https://scontent-icn1-1.cdninstagram.com/vp/8a03a0d225047656749d89e65715ae0f/5C5FA198/t51.2885-19/s320x320/26284516_1210865275714079_8304641861809602560_n.jpg">
  </div>

  <div class="Id" gdArea="id" fxFlexAlign="center">
    Yoonsung Choi
  </div>

  <div class="Time" gdArea="time" fxFlexAlign="center">
    10:09 PM
  </div>

  <div class="Message" gdArea="message">
    {{ message }}
  </div>
</div>
