<header fxFlex fxLayout="row">
  <div fxFlex="80" fxLayoutAlign="start center">
    <div
      id="channel"
      gdAreas=" name | description"
      gdRows="30px 20px"
      gdColumn="1fr">
      <h3 id="name" gdArea="name" fxFlexAlign="center">#ChannelName</h3>
      <h5 gdArea="description">This channel is Not Safe for Work</h5>
    </div>
  </div>

  <div fxFlex="20" fxLayoutAlign="space-evenly center">
    <div id="search" fxLayoutAlign="center center">
      <fa-icon [icon]="faSearch"></fa-icon>
      <input type="text" placeholder="Search"/>
    </div>
  </div>
</header>
