<div id="Profile"
  gdAreas="image name setting | image pk setting"
  gdColumns="50px 145px 35px">

  <div id="ProfileImage" gdArea="image" fxFlexAlign="center">
    <img src="https://scontent-icn1-1.cdninstagram.com/vp/8a03a0d225047656749d89e65715ae0f/5C5FA198/t51.2885-19/s320x320/26284516_1210865275714079_8304641861809602560_n.jpg">
  </div>

  <div gdArea="name" fxFlexAlign="center">
    <h4>Yoonsung Choi</h4>
  </div>

  <div gdArea="pk" fxFlexAlign="center">
    <h5>0x4Fe992E566F8a28248acC4cB401b7FfD7dF959B0</h5>
  </div>

  <div gdArea="setting" fxLayoutAlign="center center">
    <button>
      <fa-icon [icon]="faCog"></fa-icon>
    </button>
  </div>
</div>
