<div id="Profile"
  gdAreas="image name setting | image pk setting"
  gdColumns="50px 145px 35px">

  <div id="ProfileImage" gdArea="image" fxFlexAlign="center">
    <img src="https://scontent-icn1-1.cdninstagram.com/vp/94bf873ab90b22cf203d61bc48a6a181/5CAEBB98/t51.2885-19/s320x320/26284516_1210865275714079_8304641861809602560_n.jpg">
  </div>

  <div gdArea="name" fxFlexAlign="center">
    <h4>Yoonsung Choi</h4>
  </div>

  <div gdArea="pk" fxFlexAlign="center">
    <h5>{{ account }}</h5>
  </div>

  <div gdArea="setting" fxLayoutAlign="center center">
    <button>
      <fa-icon [icon]="faCog"></fa-icon>
    </button>
  </div>
</div>
