// @import 'variable';

// :host {
//   display: block;
//   height: 20px;
//   background-color: #f8f9fa;
//   margin-top: 10px;
//   padding: 20px;
//   border-radius: 5px;
//   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
// }

// div {
//   span {
//     display: inline-block;
//     border-right: 1px solid $oc-gray-3;
//     padding-right: 5px;
//     margin-right: 5px;
//   }

//   span:last-child() {
//     border-right: 0px;
//   }
// }

@import 'variable';

div.card {
  border: 1px solid $oc-gray-2;
  border-left: 3px solid $oc-violet-4;
  border-radius: 3px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: $oc-gray-0;

  div.head {
    margin: 15px 5px;

    h3 {
      color: $oc-gray-9;
      margin: 0;
    }
    span {
      display: inline-block;
      font-size: 0.8rem;
      color: $oc-gray-7;
      margin-top: 6px;
    }
  }

  hr {
    opacity: 0.2;
  }

  div.labels {
    margin: 5px 2px;

    span.label {
      display: inline-block;
      padding: 5px;
      border:1px solid $oc-gray-2;
      border-radius: 5px;
      margin: 2px;
    }
  }

  div.users {
    margin: 5px;

    span.user {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin-right: 10px;

      img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
      }
    }
  }
}

