<div id="container" fxLayout="row">
  <sym-kanban-board [data]="issue"></sym-kanban-board>
  <sym-kanban-board [data]="InProgress"></sym-kanban-board>
  <sym-kanban-board [data]="NeedsReview"></sym-kanban-board>
  <sym-kanban-board [data]="ReviewerApproved"></sym-kanban-board>
  <sym-kanban-board [data]="Done"></sym-kanban-board>
  <!-- <sym-kanban-board [name]="'Todo'" [count]="11"></sym-kanban-board>
  <sym-kanban-board [name]="'In progress'" [count]="5"></sym-kanban-board>
  <sym-kanban-board [name]="'Needs review'" [count]="2"></sym-kanban-board>
  <sym-kanban-board [name]="'Reviewer approved'" [count]="0"></sym-kanban-board>
  <sym-kanban-board [name]="'Done'" [count]="3"></sym-kanban-board> -->
</div>
