@import 'variable';

:host {
  display: block;
  height: $content-height;
  width: $content-width;
}

div#container {
  height: 100%;
  overflow-x: auto;

  & > * {
    flex: 0 0 auto;
    width: 350px;
    margin-left: 20px;
  }

  &::after {
    content: '';
    flex: 0 0 20px;
  }
}
